@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  --color1: 0, 0, 0;
  --color2: 255, 255, 255;
  --color3: 38, 38, 38;
  --specialsize: 0.85em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* for Mozilla-based browsers */
  /* width */
  scrollbar-width: thin;
  scrollbar-color: rgba(127, 127, 127, 0.6) transparent;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-corner {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, 0.6);
  background-clip: padding-box;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  border-radius: 5px;
  transition: all 1s ease 0s;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background-color: rgba(var(--color1), 0.95);
  overflow-y: scroll;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

option {
  background-color: rgba(var(--color1), 0.55);
}

main {
  width: 100%;
  max-width: 1000px;
  background-color: rgba(var(--color2), 0.1);
  padding: 15px;
  border: 1px solid rgba(var(--color2), 0.1);
  border-top: 0;
  margin-top: 40px;
}

*[active-toggle="true"] {
  filter: brightness(100%) !important;
}

img {
  object-fit: contain;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(var(--color3), 1);
  z-index: 50;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

*[appearance="turns"] {
  font-weight: 300;
  background-color: white;
  color: black;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-inline: 0.5em;
  margin-inline: 0.25em;
  font-size: var(--specialsize);
  /* padding-block: auto; */
}

*[appearance="percentage"] {
  font-weight: 700;
  color: white;
  background-color: rgba(var(--color1), 0.75);
  /* padding-inline: 0.25em; */
  border-radius: 5px;
}

*[appearance="turns"] > *[appearance="percentage"] {
  border-radius: 0px;
  padding-inline: 0.5em;
} 

*[appearance="descriptionIcon"] {
  display: inline-flex;
  background-color: rgba(var(--color2), 0.75);
  color: black;
  padding-inline: 0.5em;
  margin-inline: 0.25em;
  border-radius: 5px;
  transform: translateY(0.1em);
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  font-size: var(--specialsize);
}

*[appearance="turns"] > *[appearance="descriptionIcon"] {
  transform: translateY(2px);
}

*[appearance="iconImageContainer"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

*[appearance="iconImage"] {
  height: 12.5px;
  width: 12.5px;
}

*[element="true"] {
  background-color: rgba(var(--color3), 0.75);
  color: white;
}

*[stat="true"] {
  background: linear-gradient(
    45deg,
    rgb(255, 168, 168) 50%,
    rgb(252, 255, 0) 100%
  );
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
